body{
    background-color: #74512d;	
    color: #f8f4e1;
}


header{
    background-color: #543310;   
    padding: 20px;
    width: auto;
    height:auto;
    box-sizing: border-box;
    margin: 0;
}

/*find out how to fill in the gaps TWT */

.logo, .slogan{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#f8f4e1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.about{
    max-width: 600px;
    margin: 20px auto;
    padding: 16px;
    width: 100%;
    font-family: 'Times New Roman', Times, serif ;
    text-align: center;
    box-sizing: border-box;
    color: #543310
}

.Orderformtext{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color:#543310;
    font-size: 20px;
}

footer{
    padding-top:10px;
    text-align:center;
}

#ab{
    padding-top: 20px;
    font-size: 20px;
}

#para{
    font-size: 18px;
    padding-bottom: 10px;
}

.boxedtext{
    border: 2px #af8f6f;
    padding: 10px;
    background-color: #af8f6f;
    margin: 10px 0;
    border-radius: 5px;
    padding-bottom: 50px;
}

#name, #email, #file{
    color:#543310;
    font-size: 25px;
    padding-left: 20px;
}

#email{
    color:#543310;
    font-size: 25px;   
    padding-left: 20px; 
}

#order{
    color:#543310;
    font-size: 20px;
}

#nameb, #emailb, #fileup{
    border: 1px #af8f6f;
    color:#543310;
    background-color: #f8f4e1;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 100px;
    width: 95%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

#submitb{
    border: 1px #af8f6f;
    color: #543310;
    background-color: #f8f4e1;
    padding:15px; 
    margin-bottom: 20px; 
    border-radius: 100px;
    width: 25%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

#totalb{
    border:1px #af8f6f;
    color: #543310;
    background-color: #f8f4e1;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 100px;
    width: fit-content;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

#submitb button:hover{
    opacity:0.7;
}


.insta{
    color:#74512d
}


.card{
    background-color: #74512d;
        border-radius: 15px;
        width: 220px;
        min-height: 350px;
        margin: 20px;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
}

.price{
    color: #543310;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.card button {
    border: none;
    outline: 0;
    padding:12px;
    color: #af8f6f;
    background-color: #543310;
    text-align:center;
    cursor: pointer;
    width:100%;
    font-size:18px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 100px;
}

.card button:hover{
    opacity:0.7;
}


.topnav {
    background-color: #af8f6f;
    padding:10px;
    text-align:center;
    
}

.topnav a {
    color: #543310;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}

.topnavk {
    background-color: #f8f4e1;
    padding:10px;
    text-align:center;    
}

.topnavk a {
    color: #543310;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}

.topnav a:hover {
    background-color: #af8f6f;
    border-radius: 100px;
    color: #543310;
}

.topnavk a:hover {
    background-color: #f8f4e1;
    border-radius: 100px;
    color: #543310;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: stretch;
    justify-content: center;
}

.card img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#character,#flower,#item,#food,#animal{
    display: flex; flex-wrap: wrap;
}

#textsection{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #543310;
}
