body{
    background-color: #74512d;	
    color: #f8f4e1;
}


header{
    background-color: #543310;   
    padding: 20px;
    width: auto;
    height:auto;
    box-sizing: border-box;
    margin: 0;
}

/*find out how to fill in the gaps TWT */

.logo, .slogan{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#f8f4e1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.about{
    font-size:12px
    padding: 10px;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif ;
    padding-left: 45px;
    padding-right:35px;

}

.Orderformtext{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color:#543310;
    font-size: 20px;
}

footer{
    padding-top: 100%;
    text-align:center;
}

#ab{
    padding-top: 20px;
    font-size: 20px;
}

#para{
    font-size: 18px;
    padding-bottom: 10px;
}

.boxedtext{
    border: 2px #af8f6f;
    padding: 10px;
    background-color: #af8f6f;
    margin: 10px 0;
    border-radius: 5px;
    padding-bottom: 50px;
}

#name, #email, #file{
    color:#543310;
    font-size: 25px;
    padding-left: 20px;
}

#email{
    color:#543310;
    font-size: 25px;   
    padding-left: 20px; 
}

#order{
    color:#543310;
    font-size: 20px;
}

#nameb, #emailb, #fileup{
    border: 1px #af8f6f;
    color:#543310;
    background-color: #f8f4e1;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 100px;
    width: 95%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

#submitb{
    border: 1px #af8f6f;
    color: #543310;
    background-color: #f8f4e1;
    padding:15px; 
    margin-bottom: 20px; 
    border-radius: 100px;
    width: 25%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

#totalb{
    border:1px #af8f6f;
    color: #543310;
    background-color: #f8f4e1;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 100px;
    width: fit-content;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

#submitb button:hover{
    opacity:0.7;
}


.insta{
    color:#af8f6f
}


.card{
    box-shadow: 0 4px 8px 0 #543310;
    max-width: 150px;
    margin: auto;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
}

.price{
    color: #543310;
    font-size: 20px;
}

.card button {
    border: none;
    outline: 0;
    padding:12px;
    color: #af8f6f;
    background-color: #543310;
    text-align:center;
    cursor: pointer;
    width:100%;
    font-size:18px;
}

.card button:hover{
    opacity:0.7;
}
